<!DOCTYPE html>
<html>
  <head>
    <title>Musicconcert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="jumbotron text-center header">
  		<h1><strong>Concertia |</strong> The Concert Network</h1>
  		<p><%= @header %></p> 
	</div>
	<div class="container">
    	<%= yield %>
	</div>
	<div class="jumbotron text-center footer">
		<p>@AJoeRed Powered</p>
    <p><%= link_to "Home", "/" %></p>
	</div>
</footer>

  </body>
</html>
